:root {
    --background: rgba(43, 43, 43, 1);
    --background-secondary: rgba(59, 59, 59, 1);
    --caption-label-text: rgba(133, 133, 132, 1);
    --text: rgba(255, 255, 255, 1);
    --call-to-action: rgba(162, 89, 255, 1);
    --blue-accent: rgba(55, 125, 247, 1);
    --red-accent: rgba(255, 114, 98, 1);
    --button-text-font-family: "Work Sans", Helvetica;
    --button-text-font-weight: 600;
    --button-text-font-size: 16px;
    --button-text-letter-spacing: 1.6px;
    --button-text-line-height: 16px;
    --button-text-font-style: normal;
    --h1-space-mono-font-family: "Space Mono", Helvetica;
    --h1-space-mono-font-weight: 700;
    --h1-space-mono-font-size: 67px;
    --h1-space-mono-letter-spacing: 0px;
    --h1-space-mono-line-height: 110.00000238418579%;
    --h1-space-mono-font-style: normal;
    --h2-space-mono-font-family: "Space Mono", Helvetica;
    --h2-space-mono-font-weight: 700;
    --h2-space-mono-font-size: 51px;
    --h2-space-mono-letter-spacing: 0px;
    --h2-space-mono-line-height: 110.00000238418579%;
    --h2-space-mono-font-style: normal;
    --h3-space-mono-font-family: "Space Mono", Helvetica;
    --h3-space-mono-font-weight: 700;
    --h3-space-mono-font-size: 38px;
    --h3-space-mono-letter-spacing: 0px;
    --h3-space-mono-line-height: 120.00000476837158%;
    --h3-space-mono-font-style: normal;
    --h4-space-mono-font-family: "Space Mono", Helvetica;
    --h4-space-mono-font-weight: 700;
    --h4-space-mono-font-size: 28px;
    --h4-space-mono-letter-spacing: 0px;
    --h4-space-mono-line-height: 139.9999976158142%;
    --h4-space-mono-font-style: normal;
    --h5-space-mono-font-family: "Space Mono", Helvetica;
    --h5-space-mono-font-weight: 700;
    --h5-space-mono-font-size: 22px;
    --h5-space-mono-letter-spacing: 0px;
    --h5-space-mono-line-height: 160.0000023841858%;
    --h5-space-mono-font-style: normal;
    --base-body-space-mono-font-family: "Space Mono", Helvetica;
    --base-body-space-mono-font-weight: 400;
    --base-body-space-mono-font-size: 16px;
    --base-body-space-mono-letter-spacing: 0px;
    --base-body-space-mono-line-height: 139.9999976158142%;
    --base-body-space-mono-font-style: normal;
    --caption-space-mono-font-family: "Space Mono", Helvetica;
    --caption-space-mono-font-weight: 400;
    --caption-space-mono-font-size: 12px;
    --caption-space-mono-letter-spacing: 0px;
    --caption-space-mono-line-height: 110.00000238418579%;
    --caption-space-mono-font-style: normal;
    --h1-work-sans-font-family: "Work Sans", Helvetica;
    --h1-work-sans-font-weight: 600;
    --h1-work-sans-font-size: 67px;
    --h1-work-sans-letter-spacing: 0px;
    --h1-work-sans-line-height: 110.00000238418579%;
    --h1-work-sans-font-style: normal;
    --h2-work-sans-font-family: "Work Sans", Helvetica;
    --h2-work-sans-font-weight: 600;
    --h2-work-sans-font-size: 51px;
    --h2-work-sans-letter-spacing: 0px;
    --h2-work-sans-line-height: 110.00000238418579%;
    --h2-work-sans-font-style: normal;
    --h3-work-sans-font-family: "Work Sans", Helvetica;
    --h3-work-sans-font-weight: 600;
    --h3-work-sans-font-size: 38px;
    --h3-work-sans-letter-spacing: 0px;
    --h3-work-sans-line-height: 120.00000476837158%;
    --h3-work-sans-font-style: normal;
    --h4-work-sans-font-family: "Work Sans", Helvetica;
    --h4-work-sans-font-weight: 600;
    --h4-work-sans-font-size: 28px;
    --h4-work-sans-letter-spacing: 0px;
    --h4-work-sans-line-height: 139.9999976158142%;
    --h4-work-sans-font-style: normal;
    --h5-work-sans-font-family: "Work Sans", Helvetica;
    --h5-work-sans-font-weight: 600;
    --h5-work-sans-font-size: 22px;
    --h5-work-sans-letter-spacing: 0px;
    --h5-work-sans-line-height: 139.9999976158142%;
    --h5-work-sans-font-style: normal;
    --base-body-work-sans-font-family: "Work Sans", Helvetica;
    --base-body-work-sans-font-weight: 400;
    --base-body-work-sans-font-size: 16px;
    --base-body-work-sans-letter-spacing: 0px;
    --base-body-work-sans-line-height: 139.9999976158142%;
    --base-body-work-sans-font-style: normal;
    --caption-work-sans-font-family: "Work Sans", Helvetica;
    --caption-work-sans-font-weight: 400;
    --caption-work-sans-font-size: 12px;
    --caption-work-sans-letter-spacing: 0px;
    --caption-work-sans-line-height: 110.00000238418579%;
    --caption-work-sans-font-style: normal;
    --body-text-work-sans-font-family: "Work Sans", Helvetica;
    --body-text-work-sans-font-weight: 400;
    --body-text-work-sans-font-size: 22px;
    --body-text-work-sans-letter-spacing: 0px;
    --body-text-work-sans-line-height: 160.0000023841858%;
    --body-text-work-sans-font-style: normal;
}